<% html_title "Iterations Status" %>
<h2>Iterations Status</h2>
<br>
<div class="autoscroll">
<table class="list <%= sort_css_classes %>">
	<thead>
	<tr>
		<%= sort_header_tag('projects.name', :caption => "Project") %>
		<%= sort_header_tag('versions.name', :caption => "Iteration") %>
		<%= sort_header_tag('versions.start_date', :caption => "Start Date") %>
		<%= sort_header_tag('versions.effective_date', :caption => "Due Date") %>
		<th>Planned Hours</th>
		<th>Burned Hours</th>
		<th>Difference</th>
		<th>Team Members</th>
	</tr>
	</thead>
	<% @projects_and_last_iteration.each do |project, last_iteration|
			@project = project%>

	<tr class="<%= cycle('even', 'odd') -%>">
		<td class="name"><%= link_to_project(project) %></td>
		<td class="name"><%= last_iteration ? link_to_version(last_iteration) : 'none'%></td>
		<td class="date" style="white-space:nowrap;"><%=last_iteration ? format_date(last_iteration.start_date) : nil %></td>
		<td class="date" style="white-space:nowrap;"><%=last_iteration ? format_date(last_iteration.due_date) : nil %></td>
		<td><%=last_iteration ? last_iteration.estimated_hours : nil %></td>
		<td><%=last_iteration ? last_iteration.spent_hours : nil %></td>
		<td><%=last_iteration ? (last_iteration.estimated_hours - last_iteration.spent_hours).round(1) : nil %></td>
		<td class="name" style="width:25%"><%=project.users.to_sentence%></td>
	</tr>
	<% end %>

</table>
</div>
